<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385170174146-edovjffl2dbdl0avlgm39f4c99ridkmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385170174146-edovjffl2dbdl0avlgm39f4c99ridkmq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>385170174146-723tj6c339qp93u1ead1ti1b85ma1vfh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDI1P5FWqEH8P6gQ1Dj1tGRBDjxmbTfO20</string>
	<key>GCM_SENDER_ID</key>
	<string>385170174146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevintoro.businessnavigator</string>
	<key>PROJECT_ID</key>
	<string>business-navigator-414915</string>
	<key>STORAGE_BUCKET</key>
	<string>business-navigator-414915.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385170174146:ios:5e4b0a55decccd328fcb5b</string>
	<key>DATABASE_URL</key>
	<string>https://business-navigator-414915-default-rtdb.firebaseio.com</string>
</dict>
</plist>